/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  height: calc(100% - 55px);
  width: 250px;
  background-color: #343a40;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s ease;
  overflow-y: auto; 
}

/* Always visible sidebar for laptop view */
@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }
  .menu-button {
    display: none; /* Hide toggle button on laptop view */
  }
}

/* Sidebar hover effect */
.sidebar:hover {
  background-color: #2c3034;
}

.sidebar-header {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #3498DB;
}

/* Card styles */
.card {
  background-color: #495057;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.cardprofile {
  border-radius: 8px;
  padding: 0;
}

/* Button styles */
.add-project-button, .add-task-button, .profile-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.add-project-button:hover, .add-task-button:hover, .profile-button:hover {
  background-color: #0056b3;
}

/* Sidebar menu styles */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 15px;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.menu-link:hover {
  color: #3498DB;
  text-decoration: underline;
}

/* Project title styles */
.project-title {
  margin-top: 20px;
  font-weight: bold;
  color: #3498DB;
  font-size: 18px;
  background-color: #F9F9F9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.3s ease;
}

.project-title:hover {
  background-color: #D1E9FC;
}

/* Profile button at the bottom */
.profile-nav {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.profile-button {
  background-color: #16a085;
  border: none;
  color: white;
  padding: 15px 20px;
  width: 80%;
  text-align: left;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.profile-button:hover {
  background-color: #1abc9c;
  transform: translateX(10px);
}

.profile-button svg {
  margin-right: 10px;
}

/* Menu button for mobile view */
.menu-button {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #333;
}

.menu-button svg {
  width: 32px;
  height: 32px;
}

/* Sidebar visibility animations */
.sidebar {
  transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar.visible {
  transform: translateX(0);
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .sidebar {
    position: fixed;

    left: 0;
    height: 100%;
    width: 250px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
  }
}
